*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
}

input {
  outline: none;
  border: 1px solid $gray;
  border-radius: $rounded-sm;
  padding: 10px 5px;
  @include transition();

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 2px $primary;
  }
}

select {
  width: 100%;
  outline: none;
  border: 1px solid $gray;
  border-radius: $rounded-sm;
  padding: 10px 5px;
  @include transition();

  &:focus {
    border-color: $primary;
  }

}

a {
  display: block;
  text-decoration: none;
  color: $dark;
}

.router-link-active {
  font-weight: 700;
  color: $primary !important;
}

.button-primary {
  cursor: pointer;
  border: 1px solid $primary;
  border-radius: $rounded-sm;
  background: $primary;
  color: $light;
  @include transition();
  padding: 10px;

  &:disabled {
    cursor: not-allowed;
    background: $gray;
    border-color: $gray;
  }
}


.error {
  color: $error;
  font-size: 12px;
  font-weight: 700;
}